@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    font-family: "Agency FB";
    background: url("UCRed_RGB_LAN-THUMBNAIL-ONLY2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100px;
    height: 100px;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;

}
::placeholder{
    color: black;
    font-size: large;
}

.login-box h1{
    width: 33%;
    float: contour;
    font-size: 50px;
    border-bottom: 3px solid;
    margin-bottom: 20px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: blue;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    color: black;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid;
    color: black;
    padding: 5px;
    font-size: 25px;
    font-family: "Agency FB";
}