@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    background: white;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}
.textbox i{
    width: 34px;
    float: left;
    text-align: center;
}
body{
    font-family: "Agency FB";
}
nav{
    background: dodgerblue;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 35px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}


table, tr, th, td {
    border: 1px solid brown;
    border-collapse: collapse;
    margin-right: 50px;
    font-size: 15px;
    font-family: "sans-serif";
    background: white;
}

.logoutLblPos{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.logoutLblPos i{
    width: 34px;
    float: left;
    text-align: center;
}

